body
{
    color: gold; 
    font-size: 20px; 
    text-decoration: dotted;
    text-justify: distribute;

    background-color: rgb(76, 168, 137);
    background-image: url(bike1.jpg) ;
    background-size: 1000px; 
    background-attachment:scroll ;
    background-repeat: round;

}

