body
{
    background-color: honeydew;
    border: 3px solid brown;
}

.head
{
    background-color: rgb(195, 171, 171);
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left:45%;
    top: 15;
    font-size: 35;
    border: 2px solid;
}

.img
{
    margin-left:610px ;
    margin-top: 80px;
    border: 3px double rgb(0, 0, 0);
    position: absolute;
}

.details
{
    border: 2px solid navy;
    background-color: rgb(161, 159, 159) ;
    position: absolute ;
    top:325;
    font-family: 'Times New Roman', Times, serif;
    left:40%;
    padding: 30px;

}